@model EauClaireSalon.ViewModels.StylistDetailsViewModel;

<h1>Stylist Details</h1>
<div class="border">
  <h2>@Html.DisplayNameFor(model => model.Stylist.Name): @Html.DisplayFor(model => model.Stylist.Name)</h2>
  <ul>
    <li>@Html.DisplayNameFor(model => model.Stylist.Specialty): @Html.DisplayFor(model => model.Stylist.Specialty)</li>
  </ul>

  <h2>Clients</h2>
  <ul>
  @if(Model.Clients.Count == 0)
  {
    <p>No Clients found.</p>
  }
  else
  {
      @foreach (var client in Model.Clients)
      {
          <li>Name: @client.Name</li>
      }
  }
  </ul>
</div>

<p>@Html.ActionLink("Add new Client", "Create", "Clients", new { StylistId = Model.Stylist.StylistId })</p>

<p>@Html.ActionLink("Back to Stylists List", "Index")</p>