@model List<Client>

<h1>Clients</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stylist</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var client in Model)
    {
      <tr>
        <td>@client.Name</td>
        <td>@client.Stylist.Name</td>
        <td>
          <a asp-action="Details" asp-route-id="@client.ClientId">Details</a> |
          <a asp-action="Edit" asp-route-id="@client.ClientId">Edit</a> |
          <a asp-action="Delete" asp-route-id="@client.ClientId">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
